/* line 1, ../../app/styles/sudoku.scss */
body {
  margin: 10px;
  text-align: center;
  background: black;
}
/* line 6, ../../app/styles/sudoku.scss */
body .header {
  background: #ffff99;
  font: bold 20px tahoma;
  margin: 30px;
}
/* line 12, ../../app/styles/sudoku.scss */
body .outer-div {
  width: 100%;
  height: 500px;
}
/* line 17, ../../app/styles/sudoku.scss */
body .outer-div .inner-div {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000000;
  border-collapse: collapse;
}
/* line 25, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .action-div {
  width: 100%;
  height: 10%;
  background-color: #dddddd;
  text-align: center;
}
/* line 31, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .action-div input[type='button'] {
  position: relative;
  top: 30%;
}
/* line 37, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .text-div {
  width: 30%;
  height: 90%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffff99;
}
/* line 44, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .text-div span {
  position: relative;
  top: 50px;
}
/* line 48, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .text-div div {
  position: relative;
  top: 200px;
  font-style: bold;
}
/* line 57, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .game-div {
  width: 70%;
  height: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 64, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .game-div #sudoku-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
/* line 70, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .game-div #sudoku-table .square-3-by-3 {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #000000;
  border-collapse: collapse;
}
/* line 78, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .game-div #sudoku-table .square-3-by-3 td {
  width: 60px;
  border: 1px #000000 solid;
  border-collapse: collapse;
  position: relative;
}
/* line 84, ../../app/styles/sudoku.scss */
body .outer-div .inner-div .game-div #sudoku-table .square-3-by-3 td .editTextBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: yellow;
  font-size: 1em;
  text-align: center;
}
/* line 101, ../../app/styles/sudoku.scss */
body .outer-div .inner-div #congratulationsDiv {
  position: relative;
  top: 30px;
  width: 50%;
  height: 20px;
  margin: 0 auto;
  background-color: green;
  text-align: center;
  display: none;
}
